# CPU frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Classic ESP32, no PSRAM for this battery/Type-C board.
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# CONFIG_SPIRAM is not set

CONFIG_FREERTOS_HZ=1000
CONFIG_LWIP_SNTP_MAX_SERVERS=3

CONFIG_BANDWIDTH_WIFI_SSID="Dennis"
CONFIG_BANDWIDTH_WIFI_PASSWORD="60763312"
CONFIG_BANDWIDTH_TRANSPORT_UDP=y
# CONFIG_BANDWIDTH_TRANSPORT_TCP is not set
CONFIG_BANDWIDTH_SERVER_IP="192.168.137.1"
CONFIG_BANDWIDTH_SERVER_PORT=5001
CONFIG_BANDWIDTH_PAYLOAD_BYTES=1024
CONFIG_BANDWIDTH_FPS=1000
CONFIG_BANDWIDTH_UNLIMITED_SEND=y
CONFIG_BANDWIDTH_SEND_TIMEOUT_MS=10
CONFIG_BANDWIDTH_SOCKET_SNDBUF=0
CONFIG_BANDWIDTH_WIFI_PS_NONE=y
# CONFIG_BANDWIDTH_LOG_DROPPED_FRAMES is not set
CONFIG_BANDWIDTH_SNTP_ENABLE=y
CONFIG_BANDWIDTH_SNTP_SERVER="pool.ntp.org"
CONFIG_BANDWIDTH_SNTP_SYNC_TIMEOUT_MS=60000
CONFIG_BANDWIDTH_REQUIRE_SNTP=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
