# CPU frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Flash / PSRAM. Adjust these for boards that are not N8R8.
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y

# FreeRTOS 1 ms tick
CONFIG_FREERTOS_HZ=1000

# SNTP
CONFIG_LWIP_SNTP_MAX_SERVERS=3

# UDP bandwidth sender connection settings
CONFIG_BANDWIDTH_WIFI_SSID="Dennis"
CONFIG_BANDWIDTH_WIFI_PASSWORD="60763312"
CONFIG_BANDWIDTH_TRANSPORT_UDP=y
# CONFIG_BANDWIDTH_TRANSPORT_TCP is not set
CONFIG_BANDWIDTH_SERVER_IP="192.168.137.1"
CONFIG_BANDWIDTH_SERVER_PORT=5001
CONFIG_BANDWIDTH_PAYLOAD_BYTES=1024
CONFIG_BANDWIDTH_FPS=100
CONFIG_BANDWIDTH_SEND_TIMEOUT_MS=100
CONFIG_BANDWIDTH_SOCKET_SNDBUF=65536
CONFIG_BANDWIDTH_SNTP_ENABLE=y
CONFIG_BANDWIDTH_SNTP_SERVER="pool.ntp.org"
CONFIG_BANDWIDTH_SNTP_SYNC_TIMEOUT_MS=15000

# USB Serial/JTAG log console
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Project partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
